gradio
gradio_client
gradio[oauth]
fastmcp
langgraph
crawl4ai
langchain
langchain-community
langchain-openai
pypinyin
tiktoken
socksio
tqdm
colorama
Pygments
markdown
pandas
commentjson
jinja2
markdown
PyPDF2
pdfplumber
faiss-cpu
pydantic-core
pydantic
rank-bm25
jieba
loguru
openai
unstructured
google-cloud-aiplatform
google-auth
selenium
beautifulsoup4
requests
lxml
e-commerce-toolkit==0.0.19 --index-url https://maven-public.tec-develop.cn/repository/pypi-public/simple/ --trusted-host maven-public.tec-develop.cn
